/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Indie Flower', cursive;
    margin:0;
    padding: 0;
}
body {
    background-color: #FBFBFB;
}
.container {
    text-align: center;
    margin-top: 90px;
}
input[type="text"] {
    font-size: 22px;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
    border-bottom: solid 2px #969696;
}